@import "tailwindcss";

body {
  background: linear-gradient(to bottom right, #FBFCFF, #E3EEF4);
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animation-scroll {
  animation: scroll 10s linear infinite;
}
